body {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;;
	font-size: 16px;
    color: #5e5959;
    letter-spacing: 0.8px;
    line-height: 22px;
}

#content {
    overflow: hidden;
    width: 1200px;
    margin: 20px auto;
    padding: 20px 0px 0px 0px;
 }

 #header {
    overflow: hidden;
    padding: 30px;
 }

 #name {
    float: left;
    padding: 15px 50px 0px 0px
 }

 #menu
 {
     float: right;
     width: 700px;
     padding: 30px 50px 0px 0px;
 }
 
 #menu ul
 {
     float: right;
     margin: 0;
     padding: 0px 0px 0px 0px;
     list-style: none;
     line-height: normal;
 }
 
 
 #menu li
 {
     float: left;
 }
 
 #menu a {
     display: block;
     margin-left: 1px;
     padding: 10px 10px 10px 20px;
     letter-spacing: 1px;
     text-decoration: none;
     text-align: center;
     font-size: 16px;
     font-weight: 400;
     color: #5e5959
 }


#main {
	overflow: hidden;
	width:auto;
	margin: 10px 10px 0px 0px;
	padding: 35px 35px;
}

#main a {
    color:#5e5959;
    text-decoration: underline;
}

#main #introduction {
	float: left;
	width: 600px;
    color:#5e5959;
    font-size: 16px;
}


#main #home-image {
	float: right;
	width: 280px;
    background: #FFFFFF;
    margin: 15px;
    padding: 0px 130px 0px 0px;
}

#footer {
    /* border-top: #5e5959 solid 0.8px; */
    padding: 10px;
    margin: 40px;
}

#footer p {
    text-align: center;
}



/** IMAGE GALLERY FOR WALK **/
/* First the Grid */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    grid-gap: 0px;
    justify-items: center;
    margin: 0;
    padding: 0;
  }
  
  /* The Picture Frame */
  .gallery-frame {
    padding: 0px;
    font-size: 16px;
    text-align: center;
    background-color: #FFFFFF;
    color: #d9d9d9;
  }
  
  /* The Images */
  .gallery-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    /* transition: opacity 0.25s ease-in-out; */
  }
  
  .gallery-img:hover {
    /* opacity: .7; */
  }