/* ---------------------------------------------------- */
/* ------------- Fonts and margins -------------------- */
/* ---------------------------------------------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color:#4b4b4bf1;
    font-size:16.3px;
    line-height: 20px;
}

body {
    /* font-family: 'Noto Sans SC', sans-serif; font-weight: 400; font-style:normal; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: "Calibri", sans-sefit; */
    /* font-family: Helvetica Neue,Helvetica,Arial,sans-serif;  */
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    background-color: rgba(249, 245, 243, 0.838);
}

p {
    margin-bottom: 2%;
    line-height: 135%;
}

p.page-title {
    font-size: 18px;
    font-weight: 600;
     color:#222222f1;
}

p.section-title {
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
}

p#book-item {
    margin-bottom: 3px;
}

p.paper {
    line-height: 150%;
}

a {
    color:rgba(183, 68, 29, 0.94);
    text-decoration: none;
}


a:hover {
    color:rgba(95, 31, 10, 0.94);
    text-decoration: underline;
}

a#current{
    color:#4b4b4bf1;
}

b {
    font-weight: 500;
    color:#222222f1;
}

h5 {
    font-weight: 600;
}

/* Main body width */
.content,.header-container, footer {
    width: 70%;
    margin:auto;
}

span.CH {
    font-size: 12px; 
    font-weight: 400;
    /* font-family: "Noto Serif SC", serif; */
}


span.important-note {
    color: #222222f1;
}

img {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}


/* ---------------------------------------------------- */
/* --------------------- Header  ---------------------- */
/* ---------------------------------------------------- */

header {
    margin-top: 5%;
    margin-bottom: 3%;
    width: 100%;
}

.header-container {
    display: flex;
    /* justify-content: center; */
    height: 7vh;
    margin:auto;
    align-items: baseline;
    margin-top: 30pxs;
    
}

.logo-container {
    width: 350px;
}

.logo{
    font-size: 28px;
    font-weight: 400;
    color:#424041da;
    text-decoration: none;
    font-family: "freight-sans-pro", sans-serif;
}

.logo:hover {
    color:rgba(95, 31, 10, 0.94);
    text-decoration: none;
}

.nav-link{
    color: rgba(156, 156, 156, 0.94);
    font-family: "freight-sans-pro", sans-serif;
    font-weight: 300;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
}

.nav-link:hover{
    text-decoration: none;
}

.normal-nav {
    display: flex;
    gap: 8px;
    margin: 0;
}



/* ---------------------------------------------------- */
/* -------------------- Home page --------------------- */
/* ---------------------------------------------------- */


.main-intros {
    width: 100%;
    display:flex;
}

.main-photo{
    width: 250px;
    margin-right: 100px;
    margin-top: 10px;
}

/* Two-column, left column width */

.main-texts {
    width: 680px;
}

/* .cover-copyright {
    align-items: center;
    margin: auto;
    text-align: left;
    font-size:14px;
} */

.headshot {
        width:100%;
    }

#contact-text {
    text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
}


/* ---------------------------------------------------- */
/* ------------- Updates Timeline  -------------------- */
/* ---------------------------------------------------- */

.timeline {
  border-collapse: collapse;
}

.timeline th {
  width: 85px;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
  padding: 0;
  color:#222222f1;
}

.timeline td {
  padding-left: 8px;
  vertical-align: top;
  padding-bottom: 12px;
}

/* ---------------------------------------------------- */
/* ------------- Mobile accessbility ------------------ */
/* ---------------------------------------------------- */

@media (max-width: 1550px) {

    .logo-container {
    width: 350px;
    
}

    
    /* .content,.header-container, footer {
        width: 58%;
        margin:auto;
    }
    .main-intros, .main-content {
        width: 85%;
        display: flex;
    } */

}

@media (max-width: 800px) {
    .content,.header-container, footer {
        width: 80%;
        margin:auto;
        height: 60%;
    }

    * {
        font-size: 16px;
    }

    .logo {
        font-size: 24px;
    }
    
    .main-intros {
        flex-direction: column;
    }

    .main-photo {
    width: 100%;
    margin-top: 10px;
    }

    .headshot {
        width:50%;
    }

    
    #contact-text {
        text-align: left;
        font-size: 15px;
    }
    

    .main-texts{
        width: 100%;
    }

    .header-container{
        flex-direction: column;
        margin-top: 50px;
    }
} 

