/* ---------------------------------------------------- */
/* ------------- Fonts and margins -------------------- */
/* ---------------------------------------------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color:#424041da;
    font-size:16px;
}

body {
    /* font-family: 'Noto Sans SC', sans-serif; font-weight: 400; font-style:normal; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: "Calibri", sans-sefit; */
    /* font-family: Helvetica Neue,Helvetica,Arial,sans-serif;  */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.chinese#photo {
    font-size:14px;
}

p {
    margin-bottom: 2%;
}

a {
    color:rgba(255, 108, 45, 0.94);
    text-decoration: none;
}

a:hover {
    color:rgba(211, 75, 16, 0.94);
    text-decoration: none;
}

/* a:visited {
    color:rgba(211, 75, 16, 0.94);
    text-decoration: none;
} */

/* a#current {
    text-decoration: underline;
} */

b {
    font-weight: 500;
}

hr {
    border: none;
    height: 200%;
    background-color: rgb(19, 19, 19);
}

hr.head-divider {
   background-color:rgb(250, 248, 246);
}

h5 {
    font-size: 16px;
    font-weight: 600;
}

/* ---------------------------------------------------- */
/* ----------- Header for sub pagess ------------------ */
/* ---------------------------------------------------- */

header {
    /* background-color: rgba(252, 251, 250, 0.858); */
    margin-top: 3%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    /* background: lightblue; */
    width: 45%;
    height: 10vh;
    margin:auto;
    /* margin-top: 0.5%; */
    align-items: center;
}

.logo-container {
    margin-top: 1.4%;
}

.nav-links {
    display: flex;
    margin-top: 1.4%;
}

.logo-container {
    flex:30%;
}

.logo{
    /* margin: 5px; */
    font-size: 36px;
    /* font-weight: bold; */
    font-weight: 800;
    color:#424041da;
    /* color:white; */
    text-decoration: none;
    /* font-family: 'Merienda One', cursive; */
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Domine', serif; */
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Satisfy', cursive;
}

.logo:hover {
    color: #2a292ada;
}

nav.normal-nav {
    /* background-color:aqua; */
    /* flex: 68%; */
    justify-content: space-between;
    margin-top: 18px;
    /* margin-right: 1px; */
}


.nav-links {
    justify-content: space-between;
    list-style: none;
    text-align: right;
}


.nav-link {
    color: #424041da;
    font-size: 13px;
    /* font-weight: lighter; */
    /* text-decoration: none; */
    text-align: right;
    align-items: right;
    /* font-family: 'Open Sans', sans-serif; */
}

.nav-link:hover {
    color: #2a292ada;
}

/* a.nav-link#current {
    font-weight: 400;
} */



.intro-pic {
    margin-bottom: 3%;
    box-shadow: 0 3px 6px 0 #9b9b9b;
}


/* ---------------------------------------------------- */
/* -------------------- Home page --------------------- */
/* ---------------------------------------------------- */

.content#cover {
    height:85vh;
    /* background-color: blue; */
}

.main-intros {
    text-align: center;
    margin-top: 15vh;
    /* background: blueviolet; */
}

.main-name {
    font-size: 45px;
    font-weight: 600;

}

.main-pic {
    width: 30%;
    border-radius: 50%;
    margin-bottom: 5vh;
    /* border:0.5px solid rgb(213, 212, 212); */
}

.home-nav {
    /* background-color: aqua; */
    width: 60%;
    align-items: center;
    margin: auto;
    /* margin-bottom: 5vh; */
    /* background: blueviolet; */

}

.home-links {
    width: 100%;
    /* display:flex;
    justify-content: space-around; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    list-style: none;
    
    /* background-color: blueviolet; */
    /* margin: auto; */
}

#home-link {
    text-align: center;
}

.home-link {
    /* width: 100%; */
    flex: 1;
    color:#424041da;
    text-decoration: none;
    list-style: none;
    text-align: center;
    /* justify-content: space-between; */
    font-size: 14px;
    /* margin-right: 20px; */
    /* background-color: brown; */

}

.cover-copyright {
    /* width: 70%; */
    align-items: center;
    margin: auto;
    text-align: center;
    font-size:14px;
    padding: 20px;
}

#main-text {
    font-size: 20px;
}

#big-name {
    color: rgba(255, 108, 45, 0.94); 
    font-size: 45px;
    font-family: 'Satisfy', cursive;
}


/* ---------------------------------------------------- */
/* --------- Main Content for text-based subpages ----- */
/* ---------------------------------------------------- */

.content {
    width: 45%;
    margin: 0 auto;
    /* display: flex;
    justify-content: flex-start; */
    /* background-color: antiquewhite; */
    
}


.main-frame {
    /* background-color: antiquewhite; */
    margin-top: 2%;
    flex: 68%
}

.section {
    margin-bottom: 4%;
}

.section-title-first {
    margin-bottom: 2%;
    /* font-size: 15px; */
    /* margin-left: -2%; */
    font-weight: 600;
    font-size:16px;
    /* font-family: 'Open Sans', sans-serif; */
}


.section-title {
    margin-bottom: 2%;
    margin-top: 3%;
    /* margin-top: 7%; */
    /* font-size: 15px; */
    /* margin-left: -2%; */
    font-weight: 600;
    font-size:16px;
    /* font-family: 'Open Sans', sans-serif; */
}


.category-title {
    margin-bottom: 2%;
    font-size: 16px;
    font-weight: 600;
}

.category-item {
    margin-bottom: 1%;
}

.side-note {
    margin-bottom: 2%;
    font-size: 13px;
}

.research-intro {
    margin-bottom: 0.5%;
}

footer {
    /* width: 70%; */
    height: 10vh;
    margin:auto;
    align-items: center;
    /* margin-top: 2%; */
    /* background-color: rgb(252, 251, 248); */
    font-size: 10px;
    /* background-color: rgba(252, 251, 250, 0.858); */
}

.copyright {
    /* width: 70%; */
    align-items: center;
    margin: auto;
    text-align: center;
    font-size:14px;
    padding: 20px;
}

.book-section {
    color: rgba(255, 108, 45, 0.94); 
    margin-bottom: 1.5%;
    font-weight: 400;
}






/* ---------------------------------------------------- */
/* ------ Main Content for photo subpages ------------- */
/* ----------------- as carousels --------------------- */
/* ---------------------------------------------------- */

.content2 {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 3%;
    /* background-color: antiquewhite; */
    
}

.photo-title, .quote {
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}

.image-container {
    margin-top: 3%;
    margin-bottom: 3%;
}

.image-cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content:flex-start;
    gap: 1em;
}

.image-card {
    height: 24vh;
    /* flex-grow: 1; */
}

.photo {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}


/* Photo slides */
.photo-title{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    
}


.photo-section{
    margin-bottom: 2%;
}

.photo-section-title {
    text-align: left;   
    align-items: center;
    margin-bottom: 6%;
    margin-top: 0%;
    font-size: 15px;
    /* font-weight: 400; */
}

.carousel-inner {
    margin-bottom: 2%;
    box-shadow: 0 3px 6px 0 #9b9b9b;
}


/* ---------------------------------------------------- */
/* ------------- Sunglow grid ------------------------- */
/* ---------------------------------------------------- */

.sunglow-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 0.8%;
    margin-bottom: 10%;
}


.sunglow-photo {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    /* box-shadow: 0 2px 4px 0 #9b9b9b; */
}

.photo-title {
    margin-bottom: 6%;
}



/* ---------------------------------------------------- */
/* ------------- Mobile accessbility ------------------ */
/* ---------------------------------------------------- */

@media (max-width: 1200px) {
    .side {
      position: absolute;
      display: none;
    }
    nav.normal-nav {
        position:absolute;
        display: none;
    }
    .section#info-small-screen{
        display: flex;
        margin-bottom: 8%;
    }

    /* The container <div> - needed to position the dropdown content */
    .small-nav {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        all: unset;
        width: 50%
        /* background-color: white;
        border: none; */
    }

    .dropbtn:hover {
        background-color: tomato;
    }


    .dropdown {
        margin-top: 18%;
        align-items:right;
        float:right;
        text-align: right;
    }
    

    .header-container, .content, .footer, .content2 {
        width: 85%;
    }
    
    .home-nav {
        width: 70%;
    }

    .dropdown-item {
        color: #424041da;
        font-size:14px;
        font-weight: 300;
    }

    .logo {
        font-size: 26px;
    }    

    .main-intros {
        text-align: center;
        margin-top: 8vh;
    }

    .main-name, #big-name {
        font-size: 28px;
    }
    
    #main-text {
        font-size: 16px;
    }

    .home-link {
        font-size: 12px;
    }

}

  @media (min-width: 1200px) {
    nav.small-nav {
      position: absolute;
      display: none;
    }
    .section#info-small-screen {
        position: absolute;
        display: none;
      }
  }

  @media (max-width: 800px) {
    .home-nav {
        width: 100%;
    }

}